body {
  padding-top: 50px;
  background-color: rgb(46, 25, 11);
  margin: 0;
  font-family: monospace;
}

.navbar-link,
.navbar-link:active,
.navbar-link:visited {
  color: black;
  text-decoration: none;
}

.navbar-link {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  background-color: rgb(151, 111, 71);
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar-link:hover {
  background-color: rgb(123, 90, 58);
  transition: all 0.3s ease;
}

nav {
  border-bottom: 4px solid black;
  z-index: 999;
  display: grid;
  position: fixed;
  height: 50px;
  width: 100%;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
}
#clock {
  margin-right: 10px;
  margin-left: 10px;
}
#main_image_div {
  margin: 0;
  width: 100%;
  height: 25vw;
  top: 0;
  left: 0;
  right: 0;
}

#main_image_div {
  text-align: center;
  position: relative;
  color: black;
}
#main_image {
  width: 100%;
  height: 100%;
}

#main_text {
  font-family: Kalam, Arial;
  font-size: 6vw;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(46, 25, 11);
}

.intro_text {
  color: rgb(151, 111, 71);
  font-size: 2.5vw;
}

#welcome_msg,
#news_header {
  font-size: 75px;
  color: rgb(151, 111, 71);
  text-align: center;
  font-weight: bold;
}

.cup_img {
  width: 40vw;
  height: 40vw;
}

#home_div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#intro_div {
  width: 100%;
  display: flex;
  align-items: center;
}

#news_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single_news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  color: black;
  width: 1100px;
  height: inherit;
  max-width: 90vw;
  margin: 3vw;
  background-color: rgb(151, 111, 71);
  border: 3px solid wheat;
}

.single_news,
.single_news:active,
.single_news:visited {
  color: black;
  text-decoration: none;
}

.news_img {
  width: 100%;
  max-height: 80%;
}

footer {
  font-size: 25px;
  color: rgb(151, 111, 71);
  font-weight: bold;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .navbar-link {
    font-size: 15px;
    height: 25px;
  }
  nav {
    height: 25px;
  }
  body {
    padding-top: 25px;
  }
  #icon {
    height: 15px;
    width: 15px;
  }
  .single_news {
    font-size: 15px;
  }
  #welcome_msg,
  #news_header {
    font-size: 25px;
  }
  footer {
    font-size: 15px;
  }
}
