body {
  padding-top: 50px;
  background-color: rgb(46, 25, 11);
  margin: 0;
  font-family: monospace;
}

.navbar-link,
.navbar-link:active,
.navbar-link:visited {
  color: black;
  text-decoration: none;
}

.navbar-link {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  background-color: rgb(151, 111, 71);
  height: 50px;
  min-height: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar-link:hover {
  background-color: rgb(123, 90, 58);
  transition: all 0.3s ease;
}

nav {
  border-bottom: 4px solid black;
  z-index: 999;
  display: grid;
  position: fixed;
  height: 50px;
  min-height: 18px;
  width: 100%;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
}
#clock {
  margin-right: 10px;
  margin-left: 10px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video_container {
  background-color: rgb(241, 225, 195);
  width: 70%;
  margin: 50px;
  padding: 5%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 40px;
  border: 10px solid rgba(109, 57, 1, 0.795);
}

.brew_type {
  color: rgb(46, 25, 11);
  font-size: 63px;
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.brew_vid {
  background: transparent;
  float: left;
  max-height: 50vh;
  max-width: 40vw;
  width: 100%;
  margin: 20px;
  margin-left: 0;
}

.video_descript {
  color: rgb(46, 25, 11);
  font-size: max(25px, 2vw);
  text-align: justify;
  margin-bottom: 0px;
}

footer {
  font-size: 25px;
  color: rgb(151, 111, 71);
  font-weight: bold;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .navbar-link {
    font-size: 15px;
    height: 25px;
  }
  nav {
    height: 25px;
  }
  body {
    padding: 25px;
  }
  #icon {
    height: 15px;
    width: 15px;
  }
  .video_container {
    width: 95%;
  }
  footer {
    font-size: 15px;
  }
  .brew_type {
    font-size: 45px;
  }
}
