body {
  padding-top: 50px;
  background-color: rgb(46, 25, 11);
  margin: 0;
  font-family: monospace;
}

.navbar-link,
.navbar-link:active,
.navbar-link:visited {
  color: black;
  text-decoration: none;
}

.navbar-link {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  background-color: rgb(151, 111, 71);
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar-link:hover {
  background-color: rgb(123, 90, 58);
  transition: all 0.3s ease;
}

nav {
  border-bottom: 4px solid black;
  z-index: 999;
  display: grid;
  position: fixed;
  height: 50px;
  min-height: 18px;
  width: 100%;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  top: 0;
  left: 0;
  right: 0;
}
#clock {
  margin-right: 10px;
  margin-left: 10px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.coffee_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 0px;
}

.coffee_img {
  max-width: 90vw;
  height: min(74vw, 450px);
  width: 550px;
  border-radius: 20px;
}

.coffee_name {
  color: rgb(151, 111, 71);
  font-size: 25px;
}

footer {
  font-size: 25px;
  color: rgb(151, 111, 71);
  font-weight: bold;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .navbar-link {
    font-size: 15px;
    height: 25px;
  }
  nav {
    height: 25px;
  }
  body {
    padding: 25px;
  }
  #icon {
    height: 15px;
    width: 15px;
  }
  .coffee_name {
    font-size: 15px;
  }
  footer {
    font-size: 15px;
  }
}
